<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Hero Filter</title>
 </head>
 <body>
 <h1> Filter Heroes by Originating Game</h1>
	<form id='filter_Heroes' action='' method=''>
    	<label> Filter Heroes by Originating Game: </label>
		<br>
    	<select id='game_filter' name="game"> 
       		{{#each game}}
        	<option value="{{id}}">{{name}}</option>
        	{{/each}}
    	</select>
		<br></br>
    	<input type="button" value="Filter" onclick="filterHeroesByGame()">
	</form>

	
	<h3>Heroes from selected game</h3>
<table>
    <thead>
	<th>ID </th>
    <th>Name</th> 
	<th>Originating Game</th>
		
    </thead> 
    <tbody>
        {{#each filterByGame}} 
        <tr> 
		<td>{{id}}
        <td>{{Hero_name}}</td> 
	    <td>{{game}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
	
 </body>
</html>